.level-appear {
  opacity: 0;
  top: 200px;
  left: -200px;
  -webkit-transform: translateZ(0vmin);
  transform: translateZ(0vmin);
  transition: transform 1s;
  -webkit-transition-delay: 1s;
  transition-delay: 1s; }

.level-appear.level-appear-active {
  position: relative;
  opacity: 1;
  top: 0;
  left: 0;
  transition: all 1.2s ease; }
